<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.automation.listeners.TestListener" />
	</listeners>
	<test name="HomepageTestChrome">
	<parameter name="passScreenshotFlag" value="Yes"/>
  <parameter name="testType" value="Web" />
  	<parameter name="platformName" value="chrome" />
		<classes>
 			<class name="com.automation.testcases.web.HomePageTest"></class>
		</classes>
	</test>
	
	
</suite> <!-- Suite -->